<!DOCTYPE html>
<% include ./partials/header %>
<h1 class=" container text-center">Welcome to Hack59 Doctor Dashboard!</h1>
<div class="container text-center">
    <a class="ui inverted green button" href="/<%= currentUser.type %>">Go to live feed</a>
</div>


<% include ./partials/footer %>